<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SQLite_Library7.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SQLite_Library1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SQLite_Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SQLite_Library7.Properties.Settings>
      <setting name="選択DBnum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="選択TBnum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="選択LangNum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="追加Text履歴" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="追加TextName履歴" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="URLButton1" serializeAs="String">
        <value>GItHub</value>
      </setting>
      <setting name="URLButton2" serializeAs="String">
        <value>GAS</value>
      </setting>
    </SQLite_Library7.Properties.Settings>
    <SQLite_Library1.Properties.Settings>
      <setting name="選択DBnum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="選択TBnum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="選択LangNum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="追加Text履歴" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="追加TextName履歴" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="URLButton" serializeAs="String">
        <value>GItHub</value>
      </setting>
    </SQLite_Library1.Properties.Settings>
    <SQLite_Library.Properties.Settings>
      <setting name="選択DBnum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="選択TBnum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="選択LangNum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="追加Text履歴" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="追加TextName履歴" serializeAs="String">
        <value>""</value>
      </setting>
    </SQLite_Library.Properties.Settings>

  </userSettings>
</configuration>