<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CS_Edit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MainTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CS_Edit.Properties.Settings>
            <setting name="CS_プロパティ" serializeAs="String">
                <value>int
bool
string
double
floot</value>
            </setting>
        </CS_Edit.Properties.Settings>
        <MainTools.Properties.Settings>
            <setting name="スタート" serializeAs="String">
                <value>C:\Users</value>
            </setting>
            <setting name="前回履歴" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="psword" serializeAs="String">
                <value>パスワード</value>
            </setting>
            <setting name="AP_txt" serializeAs="String">
                <value>AppPs</value>
            </setting>
            <setting name="iv" serializeAs="String">
                <value>99
90
125
158
149
175
94
83
187
124
224
86
110
3
93
163</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>215
9
195
34
191
137
222
164
229
242
129
224
212
58
234
86
36
139
1
204
129
223
86
94
1
90
135
164
226
70
51
27</value>
            </setting>
            <setting name="PHP履歴" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="JavSc履歴" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="JavSc履歴2" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="PHP初期値" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JavSc初期値" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JavSc初期値2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoPs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="手紙件数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="データ件数" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Googleのパス" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="座標1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="座標2" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="座標3" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="座標_prev" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="サイズ1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="サイズ_prev" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="文字座標_prev" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="文字座標調整値" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CS_プロパティ" serializeAs="String">
                <value>int
bool
string
double
floot</value>
            </setting>
            <setting name="PHP_List" serializeAs="String">
                <value>/wordpress/
mailtest.php
/wordpress/wp-admin/setup-config.php
memo/index_2.php?page=1
memo/memo.php
template_string/index.html
memo/input.html</value>
            </setting>
            <setting name="Jsc_List1" serializeAs="String">
                <value>7-2_api
7-01_geolocation
6-01_menu
5-04_image
5-05_slide</value>
            </setting>
            <setting name="Jsc_List2" serializeAs="String">
                <value>6-03_ajax/index.html
5-03_cookie/index.html
index.html
memo/input.html</value>
            </setting>
            <setting name="Jsc_html" serializeAs="String">
                <value>/renshu1.html
/index.html</value>
            </setting>
            <setting name="Url_select" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Url_txtbox" serializeAs="String">
                <value />
            </setting>
            <setting name="Url_Tablename" serializeAs="String">
                <value />
            </setting>
        </MainTools.Properties.Settings>
    </userSettings>
</configuration>